/* variables for colors and spacing */
:root {
    --padding-medium: 20%;
    --padding-small:5rem;
    --padding-x-small:2.5rem;
    --white: white;
    --gray: gray;
}

body {
    /* Footer on bottom of page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Font type and size*/
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2rem;
}

header {
    /* background color and text color for header */
        background-color: black;
        color: var(--white);
        border: black solid 2px;
    /* header items position and alignment */
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

/* add padding on right side of nav */
header nav {
    margin-right: var(--padding-medium);
}

/* do not show bullets in nav list items */
header nav ul {
    list-style-type: none;
}

/* display and alignment for nav items */
header nav ul li {
    display: inline-block;
    margin-left: 2rem;
}

/* header logo size */
.header-logo {
    width: 10rem;
    height: auto;
}

/* text display for anchors */
a {
    color: var(--white);
    text-decoration: none;
}

main {
    /* main text and background color */
    background-color: var(--white);
    color: var(--gray);
    /* Footer on bottom of page */
    flex-grow: 1;
}

main h1 {
    /* center h1 */
    text-align: center;
    }


/* flexbox container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    
  /* Items in flexbox container */
    .card {
    background-color: rgb(239, 239, 239);
    border: solid rgb(216, 216, 216) 1px;
    padding: var(--padding-x-small);
    margin: var(--padding-x-small);
    /* Items can grow and shrink to fill the container */
    flex: 1 1 200px;
    /* align text center for application titles */
    text-align: center;
    /* transition for hover */
    transition: all 1s ease-in-out;
    }

/* styling for deployed applications titles */
.card p {
    padding: var(--padding-x-small);
    background-color: var(--white);
    color: var(--gray);
    }
      
.card img {
    width: 100%;
    }

.card:hover {
    /* shadow around figures when hovering */
    box-shadow: inset 0px 0px 15px black, 0px 0px 15px black;
    /* make images appear larger when hovering */
    transform: scale(1.25); 
    }

aside {
    color: var(--gray);  
    text-align: left;
    padding: var(--padding-small);
}

/* bio photo size */
.resize-photo {
    width: 15rem;
    height: auto;
}

footer {
    /* background color and text color for footer */
    background-color: rgb(239, 239, 239);
    border: 2px rgb(239, 239, 239) solid;
    border-top: 2px rgb(216, 216, 216) solid;
    color: var(--gray);
}

/* resize and position footer logo */
.footer-logo {
    width: 5rem;
    height: auto;
    margin-left: var(--padding-medium);
}

/* Deployed applications display in one column on tablets and smaller devices  */
@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }
  }

/* Deployed applications display in one row on laptops and larger screens */
  @media screen and (max-width: 1440px) {
    main {
      flex-direction: row;
    }
  }